/*-------- componente pagina, estos diseños se repiten para todas las páginas  -----------*/
.img-option {
  width: 60px;
  height: 60px;
  margin-right: 1em;
}

.option {
  width: 80%;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 2px;
}
.back {
  background-color: #3d3935;
  border: none;
  color: white;
  font-size: 1.2rem;
  /* position: absolute;
  top: 20px;
  left: 15px; */
}
.container-top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 100%;
  gap: 10px;
}
h1 {
  font-size: 28px;
  font-weight: 700;
}
h2 {
  font-weight: 700;
}
h1,
h2,
p {
  color: white;
}
.option:hover {
  background-color: #514d4a;
  scale: 1.02;
  transition-duration: 1s;
}
@media (min-width: 678px) {
  .container-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .container-top {
    margin-bottom: 5%;
  }
  .container-option > *:nth-child(odd):last-child {
    grid-column: 1 / span 2;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
  }
  .container-top:first-child .back {
    text-align: start;
    padding-left: 50px;
  }
  .container-top:first-child .precio {
    text-align: end;
    padding-right: 50px;
  }
  .img-option {
    width: 100px;
    height: 100px;
  }
  h1 {
    font-size: 32px;
  }
}
@media (min-width: 1285px) {
  .container-option {
    display: flex;
    flex-direction: row;
  }
  .container-option > *:nth-child(odd):last-child {
    width: 100%;
  }

  .img-option {
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 40px;
  }
}
