/* CSS BODY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #3d3935;
}

/* TEMPORALES */

/*-------- componente pagina de inicio  -----------*/
.intro-img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 30vh;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 100%;
  gap: 10px;
}
button {
  max-width: 50%;
  margin: 0.5em 0;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 1em 3em;
  background-image: linear-gradient(to left, #14e6d3, #8660f5);
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  box-sizing: inherit;
}
h1 {
  font-size: 28px;
  font-weight: 700;
}
h1,
p {
  color: white;
}
strong {
  color: #14e2cd;
}

/*-------- componente pagina, estos diseños se repiten para todas las páginas  -----------*/
.img-option {
  width: 60px;
  height: 60px;
  margin-right: 1em;
}

.option {
  width: 80%;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 2px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 100%;
  gap: 10px;
}
h1 {
  font-size: 28px;
  font-weight: 700;
}
h2 {
  position: absolute;
  top: 0;
  padding: 1.5em;
  font-weight: 700;
}
h1,
h2,
p {
  color: white;
}
.option:hover {
  background-color: #514d4a;
  scale: 1.02;
  transition-duration: 1s;
}
@media (min-width: 678px) {
  .container-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .container-option > *:nth-child(odd):last-child {
    grid-column: 1 / span 2;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
  }
  .img-option {
    width: 100px;
    height: 100px;
  }
  h1 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .container-option {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan cuando no quepan en una sola fila */
    justify-content: center; /* Centrar los elementos */
    gap: 15px; /* Espacio entre los elementos */
  }

  .container-option > * {
    flex: 1 1 auto; /* Permitir que los elementos se ajusten según el ancho disponible */
    max-width: 45%; /* Limitar el ancho de cada elemento */
  }

  .img-option {
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 40px;
  }
}
